<router-outlet></router-outlet>
<div class="clearfix"></div>

<div *ngIf="identity" class="central col-lg-1 navigation">

  <h1 class="head-title">{{title}}</h1>

  <nav id="navigation" >
        <a href="">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Buscar
        </a>
        <a [routerLink]="['/medicamentos']">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Lista Agotados
        </a>
        <a [routerLink]="['/lista-oficial']">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Lista oficial
        </a>
        <a [routerLink]="['/comercial-generico']">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Nombres Com/Gen
        </a>
        
  </nav>
  <nav id="user_logged">
      <span id="identity_name">
        {{identity.name}}
      </span>
      <span (clic)="logut()" class="btn-logout">
            Salir
      </span>

  </nav>
siguiente linea es una prueba
  <p>Has iniciado sesión en la aplicación</p>
  
</div> 

<div class="col-lg-11" *ngIf="!identity">
    <div class="col-lg-6">
        <div *ngIf="errorMessage">
          <div class="alert alet-info">
            <strong>Error</strong> {{errorMessage}}
          </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="login-form col-4 offset-4 card card-container">
      <h2 class="title text-center">Identificarse</h2>
 <!--  
  <div *ngIf="identity" class="central col-11">
    <p>Has iniciado sesión</p>
  </div> -->
  
  <form (ngSubmit)="onLogin()"   #formLogin="ngForm" class="login-container" >
    <div class="form-group row">
      <div class="container col-12 ">
          <label for="email" class="col-4 col-form-label"></label>
          <div class="col-12">
            <input  [(ngModel)]="user.email" #email="ngModel" name="email" type="email" class="form-control" 
            id="email" placeholder="Ingrese su correo" required>
              <span *ngIf="!email.valid && email.touched">El campo es obligatorio</span>
          </div>
      </div>
      <div class="container">
          <label for="Password" class="col-4 col-form-label"></label>
          <div class="col-12">
            <input  [(ngModel)]="user.password" #password="ngModel" name="password" type="password" 
                class="form-control" id="Password" placeholder="Ingrese su contraseña" required>
                <span *ngIf="!password.valid && password.touched">Contraseña es obligatoria</span>
        </div>
      </div>
    </div>
    <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Check me out
        </label>
      </div>
   
    <div class="form-group row">
      <div class=" col-12">
        <button
                type="submit" 
                class="btn btn-primary btn-block">Iniciar sesión
        </button>
      </div>
    </div>
    <div class="form-group row">
      <div class=" col-12" >
          <button 
                  [routerLink]="['/register']" 
                  class="btn btn-success btn-block">Registrarse
          </button>
        </div>
    </div>
  </form>
</div>
</div>

