<router-outlet></router-outlet>
<div class="container col-10 title">
    <div class="row">
        <div class="col col-md-12  text-center">
          <blockquote class="card-blockquote">
            <h2>Crear nuevo reactivo en NAT </h2>
          </blockquote>
      </div>
    </div><br>

  <form (ngSubmit)="guardar()" #forma="ngForm">

    <div class="form-group">
      <label for="nombre">Seleccione reactivo</label>
      <select [(ngModel)]="nat.reactivo" value="reactivo" name="reactivo" #reactivo="ngModel" class="form-control" id="reactivo">
        <option value="NAT-HBV (Pacientes de Gastroenterología)">NAT-HBV (Pacientes de Gastroenterología)</option>
        <option value="NAT-HCV (Pacientes de Gastroenterología)">NAT-HCV (Pacientes de Gastroenterología)</option>
        <option value="NAT-HIV (Pacientes de Gastroenterología)">NAT-HIV (Pacientes de Gastroenterología)</option>
        <option value="PCR – BK VIRUS">PCR – BK VIRUS</option>
        <option value="PCR – CMV ( Trasplante Renal, Hepático y Hematología)">PCR – CMV ( Trasplante Renal, Hepático y Hematología)</option>
        <option value="PCR – EBV">PCR – EBV</option>
        <option value="PCR - HBV">PCR - HBV</option>
        <option value="PCR – HCV">PCR – HCV</option>
        <option value="PCR – HIV">PCR – HIV</option>
      </select>
    </div>
    <br>

    <div class="row">

        <div class="form-group col-8">
          <label for="disponibilidad">Disponibilidad</label>
          <input [(ngModel)]="nat.disponibilidad" name="disponibilidad" #disponibilidad="ngModel" class="form-control" id="disponibilidad"/>

        </div>
        <div class="form-group col-4">
          <label for="fecha" class="col-2 col-form-label">Fecha</label>
          <input [(ngModel)]="nat.fecha" #fecha="ngModel"  name="fecha" class="form-control" type="text"
            value="" id="fecha">
        </div>


    </div>
    <br>

    <div class="form-group">
      <div class="row">
        <div class="col-2 offset-7">
          <div>
              <button [disabled]="!forma.valid"
                    type="submit"
                    class="btn btn-success btn-md justify-content-lg-end">
                    <strong>Guardar cambios</strong>
              </button>
          </div>
        </div>
        <div class="col-2">
          <div>
            <button [routerLink]="['/medicamentos']" type="submit" class="btn btn-danger btn-md justify-content-lg-end">
              <strong> Ir a lista NAT..</strong>
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
