<!-- formulario de registro-->

<div class="container" [hidden]="mostrar">
  <div class="register-form title col-8 offset-2 card card-container" >
      <h2 class=" text-center">Ingresar datos</h2>

      <div *ngIf="alertRegister">
          <div class="alert alet-info">
            {{alertRegister}}
          </div>
        </div>
  
<form (ngSubmit)="onSubmitRegister()"   #registerForm="ngForm" class="" >
  <div class="form-group row ">
    <div class="container col-6">
      <label for="user" class="col-4 col-form-label">Nombre</label>
      <div class="">
        <input  [(ngModel)]="users_register.nombre"  #user="ngModel" name="nombre" type="text" 
                class="form-control" id="nombre" placeholder="Ingrese su nombre"  required>
                <span *ngIf="!user.valid && user.touched">El nombre es obligatorio</span>
      </div>
    </div>
    <div class="container col-6">
        <label for="apellido" class="col-4 col-form-label">Apellido</label>
        <div class="">
          <input  [(ngModel)]="users_register.apellido" #apellido="ngModel" name="apellido" type="apellido" 
                  class="form-control" id="apellido" placeholder="Ingrese su apellido" required>
                  <span *ngIf="!apellido.valid && apellido.touched">El apellido es obligatorio</span>
        </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="container col-6">
          <label for="correo" class="col-4 col-form-label">email</label>
          <div class="">
            <input  [(ngModel)]="users_register.correo" #correo="ngModel" name="correo" type="correo" 
                    class="form-control" id="correo" placeholder="Ingrese su correo" required>
                    <span *ngIf="!correo.valid && correo.touched">El correo es obligatorio</span>
          </div>
    </div>
    <div class="container col-6">
          <label for="clave" class="col-4 col-form-label">Contraseña</label>
          <div class="">
            <input  [(ngModel)]="users_register.clave" #password="ngModel" name="clave" type="clave" 
                class="form-control" id="clave" placeholder="Ingrese una contraseña" required>
                <span *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
        </div>
    </div>
    
  </div>
    <div class="form-group row">
        <div class="container col-12">
        <button 
              type="submit" 
              class="btn btn-primary ">Registrarse
        </button> 
      </div>
    </div>
    <div class="form-group row">
      <div class="container col-12">
      <button 
            [routerLink]="['login']"
            type="submit" 
            class="btn btn-primary ">Ya tienes una cuenta?
      </button> 
    </div>
  </div>
  </form>
</div>


</div>
