<!-- formulario de registro-->
<div class="clearfix"></div>

<div class="container">
  <div class="register-form title col-8 offset-2 card card-container" >
      <h2 class=" text-center">Crear cuenta</h2>
  
<form (ngSubmit)="onRegister()" #formRegister="ngForm" class="login-container" >
  <div class="form-group row ">
    <div class="container col-6">
      <label for="name" class="col-4 col-form-label">Nombre</label>
      <div class="">
        <input  [(ngModel)]="user_register.name"  #name="ngModel" name="name" type="text" 
                class="form-control" id="name" value="" placeholder="Ingrese su nombre"  required>
                <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="container col-6">
          <label for="email" class="col-4 col-form-label">email</label>
          <div class="">
            <input  [(ngModel)]="user_register.email" #email="ngModel" name="email" type="email" 
                    class="form-control" id="email" value="" placeholder="Ingrese su correo" required>
                    <span *ngIf="!email.valid && email.touched">El correo es obligatorio</span>
          </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="container col-6">
          <label for="password" class="col-4 col-form-label">Contraseña</label>
          <div class="">
            <input  [(ngModel)]="user_register.password" #password="ngModel" name="password" type="password" 
                class="form-control" id="password" value="" placeholder="Ingrese una contraseña" required>
                <span *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
        </div>
    </div>
  </div>
    <div class="form-group row">
        <div class="container col-12">
        <button 
              type="submit"
              value="Register" 
              class="btn btn-primary ">Registrarse
        </button> 
      </div>
    </div>
    <div class="form-group row">
      <div class="container col-12">
        <button 
            [routerLink]="['/login']"
            type="submit" 
            class="btn btn-primary ">Ya tienes una cuenta?
        </button> 
    </div>
  </div>
  </form>
</div>


</div>
