<router-outlet></router-outlet>


<div class="row">
    <div  class=" col-2 navigation">

      <h1 class="head-title title">{{title}}</h1>

      <nav id="navigation" >
            <a [routerLink]="['/medicamentos']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Lista Agotados
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Inmunoquímica
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Química
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Perfiles
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Hematología
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Serología
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Parasitología
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Urinalisis
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Inmunología
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Lab. Genética
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Lab. Hematología
            </a>
            <a [routerLink]="['']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                NAT
            </a>
            
      </nav>
    </div>

    <div class="col-10">
            <h1 class="head-title2 title-body">Caja De Seguro Social</h1>

      <div class="">
          <img class="logo" src="assets/img/Logo-css.png" >
            
          <h2 class="text-center others"><strong>Bienvenido..</strong></h2>
      </div>
      </div>
</div>

