<router-outlet></router-outlet>

<div class="row">
    <div  class=" col-2 navigation">

      <h1 class="head-title title">{{title}}</h1>
      
      <nav id="navigation" >
            <a [routerLink]="['/medicamentos']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Lista Agotados
            </a>
            <a [routerLink]="['/listado-oficial']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Listado oficial
            </a>
            
            <a [routerLink]="['/hematologia-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Hematología
            </a>
            <a [routerLink]="['/inmunoquimica-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Inmunoquímica
            </a>
            <a [routerLink]="['/quimica-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Química
            </a>
            <a [routerLink]="['/perfiles']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Perfiles
            </a>
            
            <a [routerLink]="['/serologia-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Serología
            </a>
            <a [routerLink]="['/parasitologia-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Parasitología
            </a>
            <a [routerLink]="['/urinalisis-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Urinalisis
            </a>
            <a [routerLink]="['/microbiologia-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Microbiología
            </a>
            <a [routerLink]="['/inmunologia-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Inmunología
            </a>
            <a [routerLink]="['/labgenetica-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Lab. Genética
            </a>
            <a [routerLink]="['/labhematologia-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Lab. Hematología
            </a>
            <a [routerLink]="['/nat-listado']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                NAT
            </a>
            <button [routerLink]="['/administrarhome']" type="button" class="btn btn-outline-primary">Administrar</button>

      </nav>
    </div>

    <div class="col-10">
            <h1 class="head-title2 title-body">Caja De Seguro Social</h1>

      <div class="">
          <img class="logo" src="assets/img/Logo-css.png" >

          <h2 class="text-center others"><strong>Bienvenido..</strong></h2>
      </div>
      </div>
</div>
