<router-outlet></router-outlet>


<div class="row">
    <div  class=" col-2 navigation">

        <h1 class="head-title title2">Administar</h1>
  
        <nav id="navigation" >
              <a [routerLink]="['/medicamentos']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Farmacia
              </a>
              <a [routerLink]="['/hematologia-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Hematología
              </a>
              <a [routerLink]="['/inmunoquimica-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Inmunoquímica
              </a>
              <a [routerLink]="['/quimica-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Química
              </a>
              <a [routerLink]="['/serologia-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Serología
              </a>
              <a [routerLink]="['/parasitologia-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Parasitología
              </a>
              <a [routerLink]="['/urinalisis-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Urinalisis
              </a>
           
            <a [routerLink]="['/microbiologia-listadoadmin']">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Microbiología
            </a>
              <a [routerLink]="['/inmunologia-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Inmunología
              </a>
              <a [routerLink]="['/labgenetica-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Lab. Genética
              </a>
              <a [routerLink]="['/labhematologia-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Lab. Hematología
              </a>
              <a [routerLink]="['/nat-listadoadmin']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  NAT
              </a>
              <button [routerLink]="['/administrarhome']" type="button" class="btn btn-outline-primary">Volver</button>
  
        </nav>
      </div>

    <div class="col-10">
        <nav class="navbar  navbar-toggleable-lg navbar-inverse bg-primary title2" >
  
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand">
                <img src="assets/img/logoweb.gif" width="65px;" height="40px;" alt="logo">
              </a>
              <a class="list-group-item title button" [routerLink]="['/administrarhome']"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; inicio</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/microbiologia-crear']" ><strong>Agregar nuevo</strong></a>
                  </li>
                </ul>
              <form class="form-inline my-2 my-lg-0 offset-1 ">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="filtermicrobioItem" [(ngModel)]="filtermicrobioItem">
                <button type="button" class="title btn btn-outline-success mr-2" > Lab. Genética</button>
                <button class="btn btn-outline my-2 my-sm-0 button" type="button">Salir</button>
              </form>
            </div>
          </nav> 
      
            <!--tabla de lab genetica-->
      <div class="container">
          <table class=" display table table-striped table-hover " style="width:100%">
            <thead class="thead-inverse">
              <tr>
                <th class="">Reactivo
                </th>
                <th class="text-center">Disponibilidad
                </th>
                <th class="text-center">Observación
                </th>
                <th class="text-center">Fecha
                </th>
                <th class="">Opción
      
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data | filtermicrobio: filtermicrobioItem ">
                <td>{{item.reactivo}}</td>
                <td class="text-center">{{item.disponibilidad}}</td>
                <td class="text-center">{{item.observacion}}</td>
                <td class="text-center">{{item.fecha | date}}</td>
      
                <td col-2>
                  <div class="btn-group ">
                    <button type="button" class="btn btn-primary btn-sm right w" data-toggle="modal"
                      data-target="#exampleModal" [routerLink]="['/microbiologia-editar', item._id]">
                      Editar</button>
                    <button type="button" class="btn btn-danger btn-sm right" (click)="eliminarReactivo(item)">
                      Borrar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  

      
      </div>
</div>


  


