
.title{
    background: #4A2AFD;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 0px 0px 10px 60px;
}

.title-body{
    background: #4A2AFD;
    padding: 15px;
    text-align: center;
    color: white;
    border-radius: 0px 0px 60px 60px;
}

.navigation{
    margin:0px;
    height: 100vh;
    text-align: center;
    background: #151515;
}

.head-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}
.head-title2{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
    display: block;
}

.navigation a{
    color:#ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation a:hover{
    color: white;
}

.navigation .glyphicon{
    font-size: 25px;
    display: block;
    width: 100%;
}

#user_logged{
    background: #1c1c1f;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75%;
}

div {
    width: 100%;
}
.logo{
    width: 150px;
    height: auto;
    margin: auto;
    display: block;

  }

.others {
    padding: 65px;
}
