
<!--navbar -->
<nav class="navbar navigation navbar-toggleable-lg navbar-inverse bg-primary" >
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">
      <img src="assets/img/logoweb.gif" width="65px;" height="40px;" alt="logo">
    </a>
    <a class="list-group-item title button" [routerLink]="['/administrarhome']"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; inicio</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/medicamento/nuevo']" ><strong>Agregar nuevo</strong></a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="filterItem" [(ngModel)]="filterItem">
    
      <button class="btn btn-outline my-2 my-sm-0 button" type="button" [routerLink]="['/login']" (click)="logout()">Salir</button>
    </form>
  </div>
</nav>  


<!--fin de navbar-->

<!--tabla de medicamentos-->
<div class="container-fluid">
  <table class=" display table table-striped table-hover " style="width:100%">
    <thead class="thead-inverse">
      <tr>
        <th >Medicamento
        </th>
        <th class="text-center">CHAAM
        </th>
        <th class="text-center">JJV
        </th>
        <th class="text-center">ADGH
        </th>
        <th class="text-center"> MFV
        </th>
        <th class="text-center">GG
        </th>
        <th class="text-center">MMV
        </th>
        <th class="text-center">PPR
        </th>
        <th class="text-center">CNB
        </th>
        <th class="text-center">Detalle
        </th>
        <th
            class="text-right">Opción

        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | filter: filterItem ">
      <!--  <th scope="row">{{item.fecha | date}}</th>  -->
        <td>{{item.medicamento}}</td>
        <td>{{item.CHAAM}}</td>
        <td>{{item.JJV}}</td>
        <td>{{item.ADGH}}</td>
        <td>{{item.MFV}}</td>
        <td>{{item.GG}}</td>
        <td>{{item.MMV}}</td>
        <td>{{item.PPR}}</td>
        <td>{{item.CNB}}</td>
        <td>{{item.detalle}}</td>

        <td col-2>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-sm right w" data-toggle="modal" data-target="#exampleModal"
                  [routerLink]="['/editar-medicamento', item._id]">
                  Editar</button>
                  <button type="button" class="btn btn-danger btn-sm right"
                  (click)="eliminarMedicamento(item)">
                    Borrar</button>
                </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
