<!--navbar -->
<nav class="navbar navigation navbar-toggleable-lg navbar-inverse bg-primary" >
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand">
        <img src="assets/img/logoweb.gif" width="65px;" height="40px;" alt="logo">
      </a>
      <a class="list-group-item title button" [routerLink]="['/home']"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; inicio</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lista-oficial']"><strong>Listado oficial</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/comercial-generico']"><strong>Nombre comercial/ genérico</strong></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="filterItem" [(ngModel)]="filterItem">
      
        <button class="btn btn-outline my-2 my-sm-0 button" type="button" [routerLink]="['/home']">Salir</button>
      </form>
    </div>
  </nav>  
   
  

<!--tabla de medicamentos-->
<div class="container-fluid">
  <table class=" display table table-striped table-hover " style="width:100%">
    <thead class="thead-inverse">
      <tr>
        <th >Fecha
        </th>  
        <th >Medicamento
        </th>
        <th class="text-center">CHAAM  
        </th>
        <th class="text-center">JJV
        </th>
        <th class="text-center">ADGH
        </th>
        <th class="text-center"> MFV
        </th>
        <th class="text-center">GG
        </th>
        <th class="text-center">MMV
        </th>
        <th class="text-center">PPR
        </th>
        <th class="text-center">CNB
        </th>
        <th 
            class="text-right">Detalle
            
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | filter: filterItem ">
      
        <td>{{item.fecha | date }}</td>
        <td>{{item.medicamento}}</td>
        <td>{{item.CHAAM}}</td>
        <td>{{item.JJV}}</td>
        <td>{{item.ADGH}}</td>
        <td>{{item.MFV}}</td>
        <td>{{item.GG}}</td>
        <td>{{item.MMV}}</td>
        <td>{{item.PPR}}</td>
        <td>{{item.CNB}}</td>
        <td>{{item.detalle}}</td>  
      </tr> 
    </tbody>
  </table> 
</div>

